<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS_AtjApPKfs8aljWKG8__AStPqhROvEM</string>
	<key>GCM_SENDER_ID</key>
	<string>313764092288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>albakr-f9101</string>
	<key>STORAGE_BUCKET</key>
	<string>albakr-f9101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313764092288:ios:2350ba15d8c9e9664c8965</string>
</dict>
</plist>